<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <contextName>lietouErp</contextName>  
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.springframework.web" level="OFF"/>
    <logger name="org.springboot.sample" level="OFF" />
 
    <springProfile name="dev">
        <logger name="org.springboot.sample" level="OFF" />
    </springProfile>
 
    <springProfile name="staging">
        <logger name="org.springboot.sample" level="OFF" />
    </springProfile>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">   
    <!-- encoder 默认配置为PatternLayoutEncoder -->   
    <encoder>   
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>   
    </encoder>   
  </appender>   
   
  <root level="INFO">             
    <appender-ref ref="STDOUT" />   
  </root>     
</configuration>