<!DOCTYPE html>

<!--[if IE 8]> <html  class="ie8"> <![endif]-->

<!--[if IE 9]> <html  class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title>#if($curpage=='regist')账号注册#end#if($curpage=='login')账号登录#end#if($curpage=='forget')找回密码#end</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->

	<link href="${link.contextPath}/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="${link.contextPath}/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="${link.contextPath}/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="${link.contextPath}/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="${link.contextPath}/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="${link.contextPath}/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="${link.contextPath}/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="${link.contextPath}/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<!-- BEGIN PAGE LEVEL STYLES -->

	<link href="${link.contextPath}/css/login.css" rel="stylesheet" type="text/css"/>

	<!-- END PAGE LEVEL STYLES -->

	<link rel="shortcut icon" href="${link.contextPath}/image/favicon.ico" />

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="login">

	<!-- BEGIN LOGO -->

	<div class="logo">

<!-- 		<img src="${link.contextPath}/image/logo-big.png" alt="" />  -->

	</div>

	<!-- END LOGO -->

	<!-- BEGIN LOGIN -->

	<div class="content">

		<!-- BEGIN LOGIN FORM -->
  
		<form class="form-vertical login-form" method="POST" action="${link.contextPath}/login" style="#if($curpage=='login')display:block;#else display:none;#end">

			<h3 class="form-title">账号登录</h3>

			<div class="alert alert-error hide">

<!-- 				<button class="close" data-dismiss="alert"></button> -->

				<span></span> 

			</div>

			<div class="control-group">

				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->

				<label class="control-label visible-ie8 visible-ie9">账号</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-user"></i>

						<input class="m-wrap placeholder-no-fix" type="text" placeholder="账号" name="username"/>

					</div>

				</div>

			</div>

			<div class="control-group">

				<label class="control-label visible-ie8 visible-ie9">密码</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-lock"></i>

						<input class="m-wrap placeholder-no-fix" type="password" placeholder="密码" name="password"/>

					</div>

				</div>

			</div>

			<div class="form-actions">
			<input type="hidden" name="rememberMe" value="true"/>

<!-- 				<label class="checkbox"> -->
 
<!-- 				<input type="checkbox" name="rememberMe" value="true"/> 记住我 -->

<!-- 				</label>  -->

				<button type="submit" id="login-submit-btn" class="btn green btn-block"  data-loading-text='登录中 <i class="m-icon-swapright m-icon-white"></i>'>

				登录 <i class="m-icon-swapright m-icon-white"></i>

				</button>            

			</div>

			<div class="forget-password">

				<h4>忘记密码？</h4>

				<p>

					别担心! 点击 <a href="${link.contextPath}/forget" class="" id="forget-password">这里</a> 找回你的密码

				</p>

			</div>

			<div class="create-account">

				<p>

					还没有账号吗 ?&nbsp; 

					<a href="${link.contextPath}/regist" id="register-btn" class="">注册账号</a>

				</p>

			</div>

		</form>

		<!-- END LOGIN FORM -->        

		<!-- BEGIN FORGOT PASSWORD FORM -->

		<form class="form-vertical forget-form" action="index.html" style="#if($curpage=='forget')display:block;#else display:none;#end">

			<h3 class="">找回密码</h3>

			<p>请输入你的手机号码来重置你的密码.</p>

			<div class="control-group">

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-mobile-phone"></i>

						<input class="m-wrap placeholder-no-fix" type="text" placeholder="手机号码" name="mobile" />

					</div>

				</div>

			</div>

			<div class="form-actions">

				<button type="button" id="back-btn" class="btn" href="${link.contextPath}/login">

				<i class="m-icon-swapleft"></i> 返回

				</button>

				<button type="submit" class="btn green pull-right">

				提交 <i class="m-icon-swapright m-icon-white"></i>

				</button>            

			</div>

		</form>

		<!-- END FORGOT PASSWORD FORM -->

		<!-- BEGIN REGISTRATION FORM --> 

		<form class="form-vertical register-form" action="${link.contextPath}/regist" method="POST" style="#if($curpage=='regist')display:block;#else display:none;#end">

			<h3 class="">账号注册</h3>
			
			<div class="alert alert-error hide">

<!-- 				<button class="close" data-dismiss="alert"></button> -->

				<span></span>

			</div>

			<p>请填写你的账号详细信息：</p>

			<div class="control-group">

				<label class="control-label visible-ie8 visible-ie9">手机号码</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-mobile-phone"></i>

						<input class="m-wrap placeholder-no-fix" type="text" placeholder="手机号码" name="mobile"/>

					</div>

				</div>

			</div>

			<div class="control-group">

				<label class="control-label visible-ie8 visible-ie9">密码</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-lock"></i>

						<input class="m-wrap placeholder-no-fix" type="password" id="register_password" placeholder="密码" name="password"/>

					</div>

				</div>

			</div>

			<div class="control-group">

				<label class="control-label visible-ie8 visible-ie9">确认密码</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-ok"></i>

						<input class="m-wrap placeholder-no-fix" type="password" placeholder="确认密码" name="rpassword"/>

					</div>

				</div>

			</div>

			<div class="control-group">


				<label class="control-label visible-ie8 visible-ie9">姓名</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-user"></i>

						<input class="m-wrap placeholder-no-fix" type="text" placeholder="姓名" name="trueName"/>

					</div>

				</div>

			</div>
			
			<div class="control-group">


				<label class="control-label visible-ie8 visible-ie9">验证码</label>

				<div class="controls"> 

					<div class="input-icon left" style="position: relative;">

						<i class="icon-eye-open"></i>

						<input class="m-wrap placeholder-no-fix" style="width: 129px;" type="text" placeholder="验证码" name="kaptcha"/> 
						<img src="${link.contextPath}/vcode/kaptcha.vjpg" id="imagecode" title="点击刷新" style="position: absolute;right: 0;top: 0;"/>
 
					</div>

				</div>

			</div>

<!-- 			<div class="control-group"> -->

<!-- 				<div class="controls"> -->

<!-- 					<label class="checkbox"> -->

<!-- 					<input type="checkbox" name="tnc"/> I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a> -->

<!-- 					</label>   -->

<!-- 					<div id="register_tnc_error"></div> -->

<!-- 				</div> -->

<!-- 			</div> -->

			<div class="form-actions">

				<button id="register-back-btn" type="button" class="btn" href="${link.contextPath}/login">

				<i class="m-icon-swapleft"></i>  返回

				</button>

				<button type="submit" id="register-submit-btn" class="btn green pull-right"  data-loading-text='注册中 <i class="m-icon-swapright m-icon-white"></i>' >

				注册 <i class="m-icon-swapright m-icon-white"></i>

				</button>            

			</div>

		</form>

		<!-- END REGISTRATION FORM -->

	</div>

	<!-- END LOGIN -->

	<!-- BEGIN COPYRIGHT -->

	<div class="copyright">

<!-- 		2013 &copy; Metronic. Admin Dashboard Template. -->

	</div>

	<!-- END COPYRIGHT -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="${link.contextPath}/js/jquery-1.10.1.min.js" type="text/javascript"></script>

<!-- 	<script src="${link.contextPath}/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

<!-- 	<script src="${link.contextPath}/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>       -->

	<script src="${link.contextPath}/js/bootstrap.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="${link.contextPath}/js/excanvas.min.js"></script>

	<script src="${link.contextPath}/js/respond.min.js"></script>  

	<![endif]-->    

<!-- 	<script src="${link.contextPath}/js/jquery.slimscroll.min.js" type="text/javascript"></script> -->

<!-- 	<script src="${link.contextPath}/js/jquery.blockui.min.js" type="text/javascript"></script>   -->

<!-- 	<script src="${link.contextPath}/js/jquery.cookie.min.js" type="text/javascript"></script> -->

	<script src="${link.contextPath}/js/jquery.uniform.min.js" type="text/javascript" ></script>
	
	<script src="${link.contextPath}/js/jquery.history.js" type="text/javascript" ></script>

	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL PLUGINS --> 

	<script src="${link.contextPath}/js/jquery.validate.min.js" type="text/javascript"></script>

	<script src="${link.contextPath}/js/jquery.form.js" type="text/javascript"></script>
	<!-- END PAGE LEVEL PLUGINS -->

	<!-- BEGIN PAGE LEVEL SCRIPTS -->

	<script src="${link.contextPath}/js/login.js" type="text/javascript"></script>      

	<!-- END PAGE LEVEL SCRIPTS --> 

	<script>

	   var handleUniform = function () {
	        if (!jQuery().uniform) {
	            return;
	        }
	        var test = $("input[type=checkbox]:not(.toggle), input[type=radio]:not(.toggle, .star)");
	        if (test.size() > 0) {
	            test.each(function () {
	                    if ($(this).parents(".checker").size() == 0) {
	                        $(this).show();
	                        $(this).uniform();
	                    }
	                });
	        }
	    }
			jQuery(document).ready(function() {     

			handleUniform(); 


		  Login.init();
		  
		  $("#imagecode").click(function(){       
			  $(this).attr("src","${link.contextPath}/vcode/kaptcha.vjpg?"+(new Date().getTime()));
		  });

		});

	</script>

	<!-- END JAVASCRIPTS -->

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script></body>

<!-- END BODY -->

</html>